@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.logo {
  padding-left: 5px;
  margin-top: -117px;
  width: 280px;
  height: 280px;
}

.container {
  height: 100vh;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}

.checklist-menu {
  display: none;
  border-radius: 0vh;
  position: absolute;
  height: 61vh;
  width: 30vh;
  background-color: #232833;
  left: -1vh;
  top: -1vh;
  margin: 1vh;
}

.checklist-header {
  border-radius: 1vh;
  position: relative;
  width: 92%;
  height: 5vh;
  margin: 1.7vh;
  margin-left: 13px;
  /* background: #000; this is for visual guideline*/
}

.checklist-header > p {
  text-align: center;
  color: #ededed;
  padding: 1.3vh;
  font-size: 2.5vh;
}

.checklist-sub {
  top: -5px;
  border-radius: 1vh;
  position: relative;
  width: 92%;
  height: 2vh;
  margin: 1.7vh;
  margin-left: 1vh;
  margin-bottom: 2vh;
}

.checklist-sub > p {
  text-align: center;
  color: #ededed;
  padding: 0vh;
  font-size: 1.5vh;
  line-height: 1.3;
}

.checklist-block-title {
  opacity: 0.7;
  position: absolute;
  font-size: 1.4vh;
  letter-spacing: 0px;
  line-height: 1.3;
  left: 4vh;
  right: 3vh;
  color: #ededed;
}

.fa-square {
  opacity: 0.7;
  color: #fff;
  position: absolute;
  left: 2vh;
  float: left;
  text-align: left;
  line-height: 3.5vh;
}

.checklist-block-header {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  position: relative;
  height: 4.25vh;
  width: 100%;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

.closeCheckList {
  margin-top: -3px;
  margin-left: 7.7vh;
  margin-right: 8vh;
  background-color: #70f145;
  color: #000;
  padding: 8px 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.9s;
}

.closeCheckList:hover {
  background-color: #99fa78;
}